---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-xml
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/reakaleek/gh-action-readme
    rev: v0.4.0
    hooks:
      - id: action-readme
        verbose: true
        args:
          - --env=VERSION=v1

  - repo: https://github.com/rhysd/actionlint
    # Support https://github.com/rhysd/actionlint/pull/561
    rev: 0c610de366faf857ef4b33704ee28edcf85778cc
    hooks:
      - id: actionlint

  - repo: local
    hooks:
      - id: build-and-stage-github-actions
        name: Build and stage GitHub Actions
        entry: bash -c 'cd fetch-github-token && npm install --silent && npm run build && git add -u dist/'
        language: system
        files: ^fetch-github-token/(revoke\.cjs|package\.json|action\.yml)$
        pass_filenames: false
        stages: [pre-commit]

      - id: verify-github-actions-bundle
        name: Verify GitHub Actions bundle is up-to-date
        entry: bash -c 'cd fetch-github-token && npm install --silent && npm run verify-bundle'
        language: system
        files: ^fetch-github-token/(revoke\.cjs|package\.json|action\.yml)$
        pass_filenames: false
