name: pre-commit

on:
  merge_group: ~
  workflow_dispatch: ~
  pull_request:
  push:
    branches: [main]

permissions:
  contents: read

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: elastic/oblt-actions/pre-commit@516cabfed474ba2d4a979e75bc6e308903c40ac9 # v1
