name: test-fetch_token
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    paths:
      - './fetch-github-token/**'
      - '.github/workflows/test-fetch_token.yml'

jobs:
  test:
    strategy:
      matrix:
        os: [ubuntu-latest, ubuntu-24.04-arm, macos-latest, macos-15-intel]
    runs-on: ${{ matrix.os }}
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: ./fetch-github-token
        with:
          vault-instance: "ci-prod"
